@media (min-width: 768px) {
    div {
        margin: 0 auto;
        width: 414px;
    }
}

a:link, a:visited, a:active {
    color: #0000ee;
}

a:hover {
    color: #ff0000;
}

* {
    word-break: break-all;
    word-wrap: break-word;
    text-decoration: none;
}

body {
    font-size: 18px;
}
